.login-form,
.signup-form {
  max-width: 300px;
  width: 100%;
}

.login-page,
.signup-page {
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.comment-card {
  max-height: 200px;
  height: fit-content;
}

.prof-comment-card {
  max-height: 140px;
}

.card-body {
  height: 50px;
}

.card {
  height: 280px;
}

.drop-down {
  max-height: 100px;
  height: 100%;
}

.show-img {
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
